<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact List</title>
</head>
<body>
    {% include 'base.html' %}
    <h1>Contact List</h1>

    <!-- Display existing contacts -->
    <ul>
        {% for contact in contacts %}
            <li>{{ contact.first_name }} {{ contact.last_name }} - {{ contact.email }}</li>
        {% endfor %}
    </ul>

    <!-- Button to show/hide the form -->
    <button id="toggleForm" class ="btn-info">Add Contact</button> 
    <a href ="{% url 'home' %}"><button class= "btn-warning">Back</button></a>

    <!-- Form to add new contacts (Initially hidden) -->
    <form id="addContactForm" method="post" action="{% url 'contacts' %}" style="display: none;">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Create Contact" class= "btn-success">
    </form>

    <script>
        // Function to toggle the visibility of the form
        document.getElementById('toggleForm').addEventListener('click', function() {
            var form = document.getElementById('addContactForm');
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        });
    </script>
</body>
</html>
